/* GENERAL */
p {
	font-size: 14pt;
	line-height: 1.2em;
}

h1 {
	font-size: 36pt;
	line-height: 1em;
	margin-bottom: .25em;
}

h2 {
	font-size: 24pt;
	line-height: 1em;
	margin-bottom: .25em;
}

h3 {
	font-size: 18pt;
	line-height: 1em;
}

.friend img {
	border-radius: 50px;
}

.header, .footer {
	background: rgb(25,25,25);
	color: rgb(240,240,240);
}

.header p {
	font-size: 14pt;
}

.footer {
	font-size: 10pt;
	text-align: right;
	padding: 10px 20px;
}

.header a {
	font-size: 10pt;
}

#why {
	padding: 1em;
	color: rgb(25,25,25);
}

/* MONTH THEMES */
.monthly h2 {
	color: gray;
	margin: .5em inherit;
}

#why h2 {
	color: red;
}

#oct h2 {
	color: red;
}

/* phone version */
@media (max-width: 667px) {
	.header {
		padding: 1em;
		padding-bottom: .25em;
	}

	.monthly {
		padding: .5em 1em;
	}

	p {
		padding: 0 2em;
		margin: auto auto 1em auto;
	}

	.friend {
		overflow: hidden;
		margin-bottom: .5em;
	}

	.friend img, .desc {
		float: left;
		margin: 0 1em;
	}

	.friend img {
		margin-left: 2em;
	}

	.charity {
		clear: both;
	}
}

/* tablet version */
@media (min-width: 668px) {
	div {
		padding: .25em 2em;
	}

	h1 {
		margin-bottom: .25em;
	}

	p {
		max-width: 40em;
		margin: auto auto 1em auto;
	}

	.monthly {
		overflow: hidden;
	}

	.friend {
		float: left;
		padding: 0;
		margin-bottom: 1em;
		max-width: 200px;
		text-align: center;
	}

	.friend h3 {
		text-align: left;
		margin: 0 -1em;
	}

	.friend h4 {
		text-align: left;
	}

	.charity {
		margin-left: 200px;
	}
}

/* standard screen size and up */
@media (min-width: 980px) {
	div {
		padding: .25em 0;
	}

	h1 {
		margin: 0 1em .25em 1em;
	}
	
	.header a {
		font-size: 10pt;
		margin-left: 4em;
	}

	.monthly {
		max-width: 900px;
		margin: auto;
	}

	.header {
		width: 100%;
	}

	.friend h3 {
		margin: 0;
	}
}

/* large screen version */
@media (min-width: 1300px) {
	.header h1 {
		width: 1200px;
		margin: 0 1em .25em 1em;
	}
}