/* GENERAL */


p {
	font-size: 14pt;
	line-height: 1.2em;
}

h1 {
	font-size: 36pt;
	line-height: 1em;
	margin-bottom: .25em;
}

h2 {
	font-size: 24pt;
	line-height: 1em;
	margin-bottom: .25em;
}

h3 {
	font-size: 18pt;
	line-height: 1em;
}

.title img {
	border-radius: 50px;
}

.header, .footer {
	background: rgb(25,25,25);
	color: rgb(240,240,240);
}

.header p {
	font-size: 14pt;
}

.footer {
	font-size: 10pt;
	text-align: right;
	padding: 10px 20px;
}

.header a {
	font-size: 10pt;
}

#why {
	padding: 1em;
	color: rgb(25,25,25);
}

/* MONTH THEMES */
.monthly h2 {
	margin: .5em inherit;
	color: white;
}

.monthly .title {
	color: rgb(25,25,25);
}

#why .title h2 {
	color: rgb(0,0,0);
}

#oct .title h2 {
	color: rgb(183, 0, 116);
}

#nov .title h2 {
	color: rgb(146, 0, 183);
}

#dec .title h2 {
	color: #5a00b7;
}

#jan .title {
	background-color: #005ab7;
}

#feb .title {
	background-color: #008eb7;
}

#mar .title {
	background-color: #00b779;
}

#apr .title {
	background-color: #45b700;
}

#may .title {
	background-color: #81b700;
}

#jun .title {
	background-color: #da9f00;
}

#jul .title {
	background-color: #da8500;
}

#aug .title {
	background-color: #da6100;
}

#sep .title {
	background-color: #870000;
}

/* phone version */
@media (max-width: 667px) {
	.header {
		padding: 1em;
		padding-bottom: .25em;
	}

	.monthly {
		padding: .5em 1em;
	}

	p {
		padding: 0 2em;
		margin: auto auto 1em auto;
	}

	.title h2 {
		margin: 0;
	}

	.title img {
		float: left;
		margin-left: 2em;
	}

	.title h3, .title h4 {
		margin-left: 150px;
	}

	.title h3 {
		margin-top: 1em;
	}

	.charity {
		clear: both;
	}
}

/* tablet version */
@media (min-width: 668px) {
	div {
		padding: .25em 2em;
	}

	h1 {
		margin-bottom: .25em;
	}

	p {
		max-width: 40em;
		margin: auto auto 1em auto;
	}

	.monthly {
		overflow: hidden;
	}

	.title {
		overflow: hidden;
		margin: 1em auto -1.5em auto;
		padding: 10px;
	}

	.title img {
		float: left;
		margin-top: -2em;
	}

	.title h2, .title h3, .title h4 {
		margin: 0;
		margin-left: 125px;
		text-align: left;
	}

	.charity {
		margin-left: 125px;
	}
}

/* standard screen size and up */
@media (min-width: 980px) {
	div {
		padding: .25em 0;
	}

	h1 {
		margin: 0 1em .25em 1em;
	}
	
	.header a {
		font-size: 10pt;
		margin-left: 4em;
	}

	.monthly {
		max-width: 900px;
		margin: auto;
	}

	.header {
		width: 100%;
	}
}

/* large screen version */
@media (min-width: 1300px) {
	.header h1 {
		width: 1200px;
		margin: 0 1em .25em 1em;
	}
}