.wrapper {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	padding: 0;
}

#scorecard {
	text-align: center;
	margin: 2em auto;
}

#scorecard table {
	display: inline-block;
	left: 50%;
	text-align: left;
}

#scorecard a {
	display: inline-block;
}

#scorecard td {
	padding: .05em .25em;
}

.charities {
	max-width: 40em;
	margin: 2em auto;
}

.charities a:hover, .charities a:active {
	text-decoration: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	right: 0;
}

/* PHONE & TABLET VERSION */
/* needs to be touch-friendly */
@media (max-width: 699px) {
	#scorecard table {
		display: none;
	}

	#scorecard {
		text-align: left;
		padding-left: 30px;
		padding-right: 30px;
	}

	#scorecard .touchable > div {
		display: inline-block;
		margin: 5px;
		height: 0;
		width: 0;
		padding: 0;
		position: relative;
	}

	#scorecard .flyout {
		position: absolute;
		display: none;
		overflow: none;

		min-width: 6em;

		bottom: 22px;
		left: -50px;

		background-color: white;
		border: 1px solid rgb(200,200,200);
		border-radius: 10px;
	}

	#scorecard .flyout p {
		margin: 3px 10px;
		padding: 0;
	}

	#scorecard div:hover > .flyout {
		display: inline-block;
	}

	.charities {
		margin: 1em 1em 3em 1em;
	}

	/* EVERYONE GETS A COLOR */
	.first {
		border: 20px solid #66FF66;
		border-radius: 20px;
	}

	.second {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}

	.third {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}

	.fourth {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}

	.fifth {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}

	.sixth {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}

	.seventh {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}

	.eighth {
		border: 20px solid rgb(25,25,25);
		border-radius: 20px;
	}
}

/* PC VERSION */
/* assume mouse hover works */
@media (min-width: 700px) {
	#scorecard .touchable {
		display: none;
	}

	/* EVERYONE GETS A COLOR */
	.first a {
		border: 15px solid #66FF66;
		border-radius: 15px;
	}

	.second a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}

	.third a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}

	.fourth a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}

	.fifth a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}

	.sixth a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}

	.seventh a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}

	.eighth a {
		border: 15px solid rgb(25,25,25);
		border-radius: 15px;
	}
}