/* GENERAL */


h1 {
	font-size: 32pt;
	margin: 20px 0;
}

h2 {
	color: #0071bc;
	margin: 1em auto 0 auto;
}

h2 + p {
	margin-top: 0;
}

p {
	margin: 1em 1em 1em 0;
	font-size: 14pt;
}

ul {
	padding-left: 1em;
	border-left: 1px solid rgb(150, 150, 150);
}

ul li {
	list-style: none;
	margin: 1em auto;
}

body {
	min-height: 100vh;
}

#fact:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	body {
		padding: 0 2em;
	}

	h2 {
		font-size: 48pt;
	}

	header > p {
		font-size: 24pt;
	}
}

@media (min-width: 769px) {
	header, main, footer {
		max-width: 600px;
		margin: auto;
	}
}