@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

/* CSS refresh */
html, * {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	border: none;
}

strong, b {
	font-family: 'Open Sans';
	font-weight: 600;
}

em, i {
	font-style: italic;
}

a, a:link, a:active, a:hover, a:visited {
	text-decoration: none;
	color: red;
}

/* custom font settings */
body {
	background: url("img/cream_dust.png");
}

h1, h2, h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

h4 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
}

ul, ol {
	margin-left: 1.5em;
}

/* phone version */
@media (max-width: 767px) {
	p, ul {
		margin-bottom: 1em;
	}

	body {
	}

	/** HEADER **/
	#header {
		padding: 0;
		margin: 0;
		background: black;
		color: white;
		width: 100%;
		overflow: hidden;
	}

	#header a {
		display: inline-block;
		padding: 15px 1em;
		float: left;
		color: white;
	}

	#header .linktags {
		display: none;
	}

	#header .linktags a {
		padding: 10px 1em;
	}

	#header .linktags a:hover {
		background: none;
	}

	#header .active {
		background: orange;
		color: white;
	}

	/** PROJECTS **/
	#projects {
		margin: auto 2em auto 1em;
	}

	/** FOOTER **/
	#footer {
		display: inline-block;
		float: right;
		font-size: 80%;
		margin: 1em;
		padding-left: 2em;
		border-top: 1px solid black;
	}
}

/* tablet version */
@media (min-width: 768px) {
	p {
		margin-bottom: 1em;
	}

	/** HEADER **/
	#header {
		padding: 0;
		margin: 0;
		margin-bottom: 1.5em;
		background: black;
		color: white;
		width: 100%;
		height: 45px;
		text-align: right;
	}

	#header .active {
		background: orange;
		color: white;
	}

	#header .nav {
		margin-left: 100px;
	}

	#header .nav a {
		padding: 15px 20px;
	}

	#header a {
		display: inline-block;
		text-align: center;
		color: rgb(220,220,220);
		float: left;
	}

	#header a:hover {
		color: white;
	}

	#header .linktags {
		display: inline-block;
		padding: 0;
		margin-top: 5px;
		margin-right: 10px;
	}

	#header .linktags a {
		height: 32px;
		width: 32px;
		margin: 0 5px;
	}

	#twitter {
		background-image: url("img/twitter.png");
		background-position: left bottom;
	}

	#twitter:hover {
		background-position: right bottom;
	}

	#facebook {
		background-image: url("img/facebook.png");
		background-position: left bottom;
	}

	#facebook:hover {
		background-position: right bottom;
	}

	#linkedin {
		background-image: url("img/linkedin.png");
		background-position: left bottom;
	}

	#linkedin:hover {
		background-position: right bottom;
	}

	#github {
		background-image: url("img/github.png");
		background-position: left bottom;
	}

	#github:hover {
		background-position: right bottom;
	}

	/** PROJECTS **/
	#projects {
		margin: auto;
	}

	#projects .project {
		width: 400px;
		margin: 1em auto;
	}

	#projects .content {
		padding: 10px;
	}

	#projects .desc {
		clear: both;
		margin-top: 1em;
		margin-left: 1em;
	}

	#afsea {}

	#shapers {}

	#helloworld {}

	#arrived {}

	#gator {}

	#hfid {}

	#mamalode {}

	#gatehopper {}

	#ovpc {}

	/** FOOTER **/
	#footer {
		display: inline-block;
		float: right;
		font-size: 80%;
		margin: 1em;
		padding-left: 2em;
		border-top: 1px solid black;
	}
}

/* standard screen size and up */
@media (min-width: 980px) {
	.mobile {
		display: none;
	}

	/** HEADER **/
	#header {

	}

	/** PROJECTS **/
	#projects {
		margin: auto;
	}

	#projects .desc {
		margin-left: .25em;
	}

	#projects p {
		margin: .5em auto;
		text-align: left;
	}

	#projects .project {
		display: inline-block;
		margin: 20px;
		width: 350px;
		height: 350px;
		position: relative;
	}

	#projects .content {
		position: absolute;
		bottom: 0;
		padding: 10px;
		max-height: 330px;
		max-width: 330px;
		width: 100%;
		overflow: auto;
		background: #333;
		background: rgba(0,0,0,.8);
		color: #ddd;
	}

	#projects .project h3 {
		font-size: 150%;
		color: white;
	}

	#projects .project .content h4 {
		display: none;
	}

	#projects .project .content p {
		display: none;
	}

	#projects .project .content ul {
		display: none;
	}

	#projects .project:hover .content h4 {
		display: inline-block;
	}

	#projects .project:hover .content p {
		display: inline-block;
	}

	#projects .project:hover .content ul {
		display: inline-block;
	}

	#projects .project:hover .content {
		height: 340px;
	}

	#afsea {
		background-image: url("img/afsea_350.jpg");
	}

	#shapers {
		background-image: url("img/shapers_350.jpg");
	}

	#helloworld {
		background-image: url("img/helloworld_350.png");
	}

	#arrived {
		background-image: url("img/arrived_350.jpg");
	}

	#gator {
		background-image: url("img/gator_350.jpg");
	}

	#hfid {
		background-image: url("img/hfid_350.jpg");
	}

	#mamalode {
		background-image: url("img/mamalode_350.jpg");
	}

	#gatehopper {
		background-image: url("img/gatehopper_350.png");
	}

	#ovpc {
		background-image: url("img/ovpc_350.png");
	}
}

/* large screen version */
@media (min-width: 1300px) {
	/** HEADER **/
	#header {}

	/** PROJECTS **/
	#projects {
	}

	#projects .project {
		margin: 1em;
		width: 450px;
		height: 350px;
	}

	#projects .content {
		max-height: 330px;
		max-width: 430px;
		padding: 10px;
	}

	#afsea {
		background-image: url("img/afsea_450.jpg");
	}

	#shapers {
		background-image: url("img/shapers_450.jpg");
	}

	#helloworld {
		background-image: url("img/helloworld_450.png");
	}

	#arrived {
		background-image: url("img/arrived_450.jpg");
	}

	#gator {
		background-image: url("img/gator_450.jpg");
	}

	#hfid {
		background-image: url("img/hfid_450.jpg");
	}

	#mamalode {
		background-image: url("img/mamalode_450.jpg");
	}

	#gatehopper {
		background-image: url("img/gatehopper_450.png");
	}

	#ovpc {
		background-image: url("img/ovpc_450.png");
	}
}