/* CSS refresh */
html, * {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	border: none;
}

a, a:link, a:active, a:hover, a:visited {
	text-decoration: none;
	color: dodgerBlue;
}

/* custom font settings */
body {
	font-family: "nimbus-sans", sans-serif;
	font-weight: 300;
	background: url("img/cream_dust.png");
}

h1, h2, h3, h4 {
	font-family: "nimbus-sans-extended", sans-serif;
	font-weight: 300;
}

/* standard screen size and up */
@media (min-width: 980px) {
	/** HEADER **/
	#header {}

	#header h1 {
		font-size: 300%;
	}

	#header .linktags {}

	#header .nav {}

	/** BIOGRAPHY **/
	#biography {
		padding: 1em;
		color: #ddd;
		background: #333;
		background: rgba(0,0,0,.8);
	}

	#biography p, #biography ul {
		margin-bottom: 1em;
	}

	#biography h2 {
		color: white;
	}

	#biography .img {}

	#biography .content {}

	#biography li {
		margin-left: 1.5em;
	}

	#biography .button {
		display: inline-block;
		width: 145px;
		padding: 0.5em 0;
		text-align: center;
		margin: 1px;
	}

	a.button {
		background: rgb(15,15,15);
		color: rgb(220,220,220);
	}

	a.button:hover {
		background: black;
		color: white;
	}

	/** PROJECTS **/
	#projects {}

	#projects p {
		margin-top: 1em;
	}

	#projects .project {
		float: left;
		margin: 0 0 25px 25px;
		width: 350px;
		height: 350px;
		position: relative;
	}

	#projects .content {
		position: absolute;
		bottom: 0;
		padding: 5px;
		max-width: 340px;
		width: 100%;
		background: #333;
		background: rgba(0,0,0,.8);
		color: #ddd;
	}

	#projects .project h3 {
		font-size: 200%;
		color: white;
	}

	#projects .project .content h4 {
		display: none;
	}

	#projects .project .content p {
		display: none;
	}

	#projects .project:hover .content h4 {
		display: inline-block;
	}

	#projects .project:hover .content p {
		display: inline-block;
	}

	#arrived {
		background-image: url("img/arrived_350.jpg");
	}

	#gator {
		background-image: url("img/gator_350.jpg");
	}

	#hfid {
		background-image: url("img/hfid_350.png");
	}

	#mamalode {
		background-image: url("img/mamalode_350.jpg");
	}

	#gatehopper {
		background-image: url("img/gatehopper_350.png");
	}

	#ovpc {
		background-image: url("img/ovpc_350.png");
	}
}

/* large screen version */
@media (min-width: 1300px) {
	/** HEADER **/
	#header {}

	#header h1 {}

	#header .linktags {
		position: absolute;
		right: 1em;
		top: 1em;
	}

	#header .nav {
		display: none;
	}

	/** BIOGRAPHY **/
	#biography {		
		max-width: 300px;
		float: left;
	}

	#biography .img {}

	#biography .content {}

	/** PROJECTS **/
	#projects {
		margin-left: 350px;
	}

	#projects .project {
		margin: 0 25px 50px 25px;
		width: 400px;
		height: 400px;
	}

	#projects .content {
		max-width: 390px;
	}

	#projects .desc {
		display: none;
	}

	#arrived {
		background-image: url("img/arrived_400.jpg");
	}

	#gator {
		background-image: url("img/gator_400.jpg");
	}

	#hfid {
		background-image: url("img/hfid_400.png");
	}

	#mamalode {
		background-image: url("img/mamalode_400.jpg");
	}

	#gatehopper {
		background-image: url("img/gatehopper_400.png");
	}

	#ovpc {
		background-image: url("img/ovpc_400.png");
	}
}

/* tablet version */
@media (min-width: 768px) and (max-width: 979px) {
	/** HEADER **/
	#header {}

	#header h1 {}

	#header .linktags {}

	#header .nav {}

	/** BIOGRAPHY **/
	#biography {}

	#biography .img {}

	#biography .content {}

	#biography .button {}

	/** PROJECTS **/
	#projects {}

	#projects .project {
		width: 400px;
		height: 400px;
	}

	#arrived {}

	#gator {}

	#hfid {}

	#mamalode {}

	#gatehopper {}

	#ovpc {}
}

/* phone version */
@media (max-width: 767px) {
	/** HEADER **/
	#header {}

	#header h1 {}

	#header .linktags {}

	#header .nav {}

	/** BIOGRAPHY **/
	#biography {}

	#biography .img {}

	#biography .content {}

	#biography .button {}

	/** PROJECTS **/
	#projects {}

	#projects .project {
		width: 400px;
		height: 400px;
	}
}